@mixin placeholder {
    ::-webkit-input-placeholder {@content}
    :-moz-placeholder           {@content}
    ::-moz-placeholder          {@content}
    :-ms-input-placeholder      {@content}
}

* {
    box-sizing: border-box;

    &::before,
    &::after {
        box-sizing: border-box;
    }
}

html,
body {
    margin: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: var(--font-size-md);
    font-weight: 300;
    line-height: 19px;
    color: var(--white);

    background-color: var(--blue-dark);

    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

p {
    margin: 0;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: 0;
}

@include placeholder {
    font-size: inherit;
    opacity: .5;
    color: var(--white);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.visibility-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.btn {
    min-width: 280px;
    min-height: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 14px 10px;

    color: var(--white);

    background-color: var(--red);
    border-radius: var(--radius-xs);

    cursor: pointer;
    transition: .2s;

    &:hover {
        color: var(--blue-semi-dark);
        background-color: var(--white);
    }
}

.title {
    font-weight: 300;
    line-height: 1.25;

    &_md {
        font-size: var(--heading-md);
        letter-spacing: -0.5px;
    }

    &_sm {
        font-size: var(--heading-sm);
    }

    &_xs {
        font-size: var(--heading-xs);
    }

    &_medium {
        font-weight: 500;
    }
}

.text {
    line-height: 1.25;

    &_xs {
        font-size: var(--font-size-sm);
        color: var(--white-75);
    }
}

.content p {
    margin: 10px 0 20px;
}

.input {
    display: flex;
    gap: 10px;
    padding: 0 16px;
    min-width: 280px;

    font-weight: 300;
    border-bottom: 1px solid var(--blue-greyish);

    &:focus-within {
        border-color: var(--white);
    }

    &__text {
        flex: 1;
        padding-bottom: 18px;

        color: var(--white);
        caret-color: var(--red);

        background-color: transparent;
        border: 0;
    }

    &__error {
        display: none;
        color: var(--red);
    }

    &__search-icon {
        width: 24px;
        height: 24px;

        fill: var(--white);
        transform: translateY(3px);
    }

    &_search {
        padding: 0;
        gap: 24px;

        font-size: 24px;
        line-height: 30px;

        border-color: transparent;

        &:focus-within {
            border-color: var(--blue-greyish);
        }

        .input__text {
            padding-bottom: 15px;
        }
    }
}