* {
    box-sizing: border-box;

    &::before,
    &::after {
        box-sizing: border-box;
    }
}

html,
body {
    margin: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: var(--font-size-md);
    line-height: 19px;
    color: var(--white);

    background-color: var(--blue-dark);

    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

p {
    margin: 0;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.visibility-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.btn {
    min-width: 280px;
    min-height: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 14px 10px;

    color: var(--white);

    background-color: var(--red);
    border-radius: var(--radius-xs);

    cursor: pointer;
    transition: .2s;

    &:hover {
        color: var(--blue-semi-dark);
        background-color: var(--white);
    }
}