@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
    @font-face {
        font-family: quote($font-name);
        src: url(#{$path}.woff2) format("woff2");
        font-weight: $weight;
        font-style: $style;
        font-display: swap;
    }
}

@include font-face('Outfit', '../fonts/Outfit-Light', 300, 'normal');
// @include font-face('Outfit', '../fonts/Outfit-Regular', 400, 'normal');
@include font-face('Outfit', '../fonts/Outfit-Medium', 500, 'normal');

