:root {
    --white: #fff;
    --white-50: rgba(255, 255, 255, .5);
    --white-75: rgba(255, 255, 255, .75);
    --red: #fc4747;
    --blue-semi-dark: #161d2f;
    --blue-greyish: #5a698f;
    --blue-dark: #10141e;

    --font-size-xs: 11px;
    --font-size-sm: 13px;
    --font-size-md: 15px;

    --heading-xs: 18px;
    --heading-sm: 24px;
    --heading-md: 32px;

    --radius-xs: 6px;
    --radius-sm: 8px;
    --radius-lg: 20px;

    /* max width */
    --container-md: 1440px;
    --container-sm: 960px;
    --container-xs: 600px;

    /* padding container */
    --padding-x-md: 32px;
    --padding-x-sm: 24px;
    --padding-x-xs: 16px;

    /* break points */
    --screen-md: 1365px;
    --screen-sm: 760px;
}