:root {
    --white: #fff;
    --white-50: rgba(255, 255, 255, .5);
    --white-75: rgba(255, 255, 255, .75);
    --red: #fc4747;
    --blue-semi-dark: #161d2f;
    --blue-greyish: #5a698f;
    --blue-dark: #10141e;

    --font-size-xs: 11px;
    --font-size-sm: 13px;
    --font-size-md: 15px;

    --heading-xs: 18px;
    --heading-sm: 24px;
    --heading-md: 32px;

    --radius-xs: 6px;
    --radius-sm: 8px;
    --radius-md: 10px;
    --radius-lg: 20px;

    /* padding container */
    --padding-x-md: 32px;
    --padding-x-sm: 24px;
    --padding-x-xs: 16px;
}

$screen-md: 1440px;
$screen-sm: 760px;
$screen-xs: 500px;

$container-xs: 500px;
$container-sm: 900px;