.auth {
    max-width: 400px;
    margin: 0 auto;
    padding: 24px 24px 32px;

    background-color: var(--blue-semi-dark);
    border-radius: var(--radius-md);

    &__title {
        margin-bottom: 40px;
    }

    &__form {

    }

    &__field {
        & + .auth__field {
            margin-top: 24px;
        }
    }

    &__submit {
        margin-top: 40px;
    }

    &__question {
        margin-top: 24px;
        text-align: center;

        a {
            color: var(--red);
        }
    }
}